<DATA>
  <cod_servicio>$!{exchange.properties.CODIGO_SERVICIO}</cod_servicio>
  <cod_usuario>$!{exchange.properties.CODIGO_USUARIO}</cod_usuario>
  <dir_ip>$!{exchange.properties.DIR_IP}</dir_ip>
  <id_emisor_servicio>$!{exchange.properties.ID_EMISOR}</id_emisor_servicio>
  <filler_01></filler_01>
  <num_cta_tar>$!{body.getNumCtaTar()}</num_cta_tar>
  <secuencia_tarjeta>$!{body.getSecuenciaTarjeta()}</secuencia_tarjeta>
  <filler_02></filler_02>
</DATA>
