<cod_servicio>DAMONETA</cod_servicio>
<cod_usuario>BCO-INT-USER</cod_usuario>
<dir_ip></dir_ip>
<id_emisor_servicio></id_emisor_servicio>
<filler_01></filler_01>
<tipo_transaccion></tipo_transaccion>
<num_cta_tar>$!{body.getNumCtaTar()}</num_cta_tar>
<tipo_tx_monetaria>$!{exchange.properties.TIPO_TX_MONETARIA()}</tipo_tx_monetaria>
<tx_id_contable></tx_id_contable>
<referencia_tx></referencia_tx>
<fecha_tx>$!{body.getFechaTx()}</fecha_tx>
<hora_tx>$!{body.getHoraTx()}</hora_tx>
<fecha_contable>$!{body.getFechaContable()}</fecha_contable>
<mto_moneda_origen>$!{body.getMtoMonedaOrigen()}</mto_moneda_origen>
<moneda_origen>$!{body.getMonedaOrigen()}</moneda_origen>
<mto_moneda_fact>$!{body.getMtoMonedaFact()}</mto_moneda_fact>
<moneda_fact>$!{body.getMonedaFact()}</moneda_fact>
<glosa_transaccion>$!{body.getGlosaTransaccion()}</glosa_transaccion>
<tasa_interes>$!{body.getTasaInteres()}</tasa_interes>
<cantidad_cuotas>$!{body.getCantidadCuotas()}</cantidad_cuotas>
<meses_gracia>$!{body.getMesesGracia()}</meses_gracia>
<dias_retencion>$!{body.getDiasRetencion()}</dias_retencion>
<plan_credito>$!{body.getPlanCredito()}</plan_credito>
<codigo_ajuste>$!{body.getCodigoAjuste()}</codigo_ajuste>
<origen>$!{body.getOrigen()}</origen>
<codigo_pais>$!{body.getCodigoPais()}</codigo_pais>
<codigo_pais_iata>$!{body.getCodigoPaisIata()}</codigo_pais_iata>
<terminal>$!{body.getTerminal()}</terminal>
<cdgo_sucursal>$!{body.getCodigoSucursal()}</cdgo_sucursal>
<cdgo_captura>$!{body.getCodigoCaptura()}</cdgo_captura>
<pos_entry_mode></pos_entry_mode>
<cdgo_comercio></cdgo_comercio>
<fecha_exp_tjta></fecha_exp_tjta>
<cvv2_mcc2_4dbc></cvv2_mcc2_4dbc>
<mcc></mcc>
<caja></caja>
<boleta></boleta>
<pista_1></pista_1>
<pista_2></pista_2>
<processing_code></processing_code>
<pcc></pcc>
<f63></f63>
<aic></aic>
<stan></stan>
<rrn></rrn>
<monto1>$!{body.getMonto1()}</monto1>
<monto2>$!{body.getMonto2()}</monto2>
<monto3>$!{body.getMonto3()}</monto3>
<numero1>$!{body.getNumero1()}</numero1>
<numero2>$!{body.getNumero2()}</numero2>
<numero3>$!{body.getNumero3()}</numero3>
<flag1></flag1>
<flag2></flag2>
<flag3></flag3>
<string1></string1>
<string2></string2>
<string3></string3>
<filler_03></filler_03>
