{
    "timeoutEnvioEnMilisegundos": 500,
    "timeoutRecepcionEnMilisegundos": 600,
    "clases": [
        {
            "nombre": "ETC500101",
            "RegistrarLog": "true",
            "PuertoEspecialSocket": "1",
            "campos": {
                "H01USERID": "$!{body.getUsuario()}",
                "H01PROGRM": "ETC5001",
                "H01TIMSYS": "$!{body.getFechaTx()}$!{body.getHoraTx()}",
                "H01SCRCOD": "01",
                "H01OPECOD": "$!{exchange.properties.H01OPECOD}",
                "H01FLGMAS": "",
                "H01FLGWK1": "",
                "H01FLGWK2": "",
                "H01FLGWK3": "",
                "E01SISORI": "$!{exchange.properties.E01SISORI}",
                "E01ACCDEB": "$!{body.getCuentaDebito()}",
                "E01ACCCRE": "$!{body.getCuentaCredito()}",
                "E01TYPDEB": "$!{body.getTipoCuentaDeb()}",
                "E01TYPCRE": "$!{body.getTipoCuentaCr()}",
                "E01GLNDEB": "",
                "E01GLNCRE": "",
                "E01TRAMTO": "$!{body.getMtoMonedaFact()}",
                "E01TRAMTC": "",
                "E01AVAILA": "",
                "E01INDSOB": "$!{body.getIndSob()}",
                "E01GLODEB": "$!{body.getGlosaTransaccion()}$!{body.getNumCtaTar()}",
                "E01GLOCRE": "$!{body.getGlosaTransaccion()}$!{body.getNumCtaTar()}",
                "E01FLGWRN": "",
                "E01BNKDEB": "$!{body.getBancoDeb()}",
                "E01BNKCRE": "$!{body.getBancoCred()}",
                "E01BRNDEB": "",
                "E01BRNCRE": "",
                "E01RUTDEB": "$!{body.getRutCliente()}",
                "E01RUTCRE": "",
                "E01NOMDEB": "",
                "E01NOMCRE": "",
                "E01TRXDEB": "",
                "E01TRXCRE": "",
                "E01CODCCY": "$!{exchange.properties.E01CODCCY}",
                "E01CODCCC": "$!{exchange.properties.E01CODCCC}",
                "E01NUMBTH": "",
                "E01AFEIVA": "",
                "E01TRACAN": "$!{body.getCanal()}",
                "E01TRAREF": "",
                "E01TRARFN": "",
                "E01TRATYP": "$!{body.getTratyp()}",
                "E01TRAMOD": "",
                "E01IPCLIE": "$!{body.getIpCliente()}",
                "E01RUTCLI": "$!{body.getRutCliente()}",
                "E01RUTUSR": "$!{body.getRutCliente()}",
                "E01CODTRN": "$!{body.getCodtrn()}",
                "E01TRAFPY": "$!{exchange.properties.E01TRAFPY}",
                "E01TRAFPM": "$!{exchange.properties.E01TRAFPM}",
                "E01TRAFPD": "$!{exchange.properties.E01TRAFPD}",
                "E01NUMTAR": "",
                "E01PLAZO ": "",
                "E01GRACIA": ""     
            }
        }
    ]
}